# git
.git
.gitignore
.gitattributes

# devops
.github

# editor
.vscode
.idea

# tools
.cruft.json
.direnv
.ipynb_checkpoints
.husky
.coverage
.coveragerc
coveragerc
coverage.json
htmlcov
.flake8
mypy.ini
.pylintrc
pylintrc
pytest.ini
.pre-commit-config.yaml
.konchrc
.mypy_cache
.pytest_cache
.python-version
.ruff_cache
*commitlint.config.*
Dockerfile*
docker-compose*
.dockerignore
Makefile
Justfile
tox.ini
.tox
_typos.toml
.secrets.baseline

# python
*__pycache__
*.py[cod]
*$py.class
venv
.venv
tests/
dist/

# data
*.log
*.sqlite
.env*

# misc
.DS_Store
*.swp
