# Builds and uploads artifact
name: publish

on:
  release:
    types: [published]

env:
  PYTHON_VERSION: 3.11
  UV_VERSION: 0.7.3

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.UV_VERSION }}
          enable-cache: true
          cache-suffix: ${{ matrix.os }}-${{ matrix.python-version }}-uv_publish

      - name: Update version
        shell: bash
        run: |
          VERSION=$(uvx dunamai from git --style semver) && uv version $VERSION
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: uv build
        run: uv build

      - uses: actions/upload-artifact@v4
        with:
          path: dist/
          name: ${{ github.event.repository.name }}-packages
          if-no-files-found: ignore
          overwrite: true
